# Input

In [10]:
name = input ("Enter your name: ")

Enter your name: Bharath

In [13]:
print(name)
print (type (name))

Bharath
<class 'str'>

# Type casting

In [14]:
num='8'
print(type(num))

<class 'str'>

In [16]:
age = int(input ("what is the age ? "))

what is the age ? 26

In [17]:
print (age)
print(type(age))

26
<class 'int'>

# Arithmatic Operators

In [19]:
n1 = 12
n2 = 3

In [21]:
add = n1+n2
sub = n1-n2
mul = n1*n2
div = n1/n2
f_div = n1//n2
exp= n1**n2
mod = n1%n2

In [23]:
print("a+b =" , add)
print("a-b =" , sub)
print ("a*b =" , mul)
print ("a/b=", div)
print ("a//b =" , f_div)
print ("a**b =" , exp)
print ("a%b =" , mod)

a+b = 15
a-b = 9
a*b = 36
a/b= 4.0
a//b = 4
a**b = 1728
a%b = 0

# comparison Operator

In [25]:
print ("a>b :" , n1>n2)
print ("a<b :" , n1<n2)
print ("a==b :" , n1==n2)
print ("a!=b :" , n1!=n2)

a>b : True
a<b : False
a==b : False
a!=b : True

# Logical Operator

In [29]:
print ((10>5) and  (10 < 6))

False

In [30]:
print ((10>5) or  (10 < 6))

True

In [33]:
print (not False)

True

# conditional statments

In [34]:
age= 14 

if (age>=18):
    print ("you are eligible to vote")
else:
    print ("Grow up first")

Grow up first

In [35]:
age =17

if (age>=18):
    print ("You can vote")
elif (age >=15):
    print ("Grow up first")
else:
    print ("Go Home Kid")

Grow up first

# Iterations/Loops

In [37]:
i = 1

while (i<=20):
    if (i%2==0):
        print (i, end ="  ")
        
    i=i+1

2  4  6  8  10  12  14  16  18  20

In [39]:
for i in range (2,21,2):
    print(i,end =" ")

2 4 6 8 10 12 14 16 18 20

In [40]:
n=9
for i in range (1,11):
    print (n, "x", i, "=" , i*n)

9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90

In [42]:
for i in range (1,10):
    if (i==5):
        break
    print (i , end =" ")

1 2 3 4

In [45]:
for i in range (1,10):
    if (i==5):
        continue
    print(i, end= " ")

1 2 3 4 6 7 8 9

# write a program to find  a number is odd or even

In [49]:
n = int(input("Enter the number = "))
if (n%2==0):
    print ("Even")
else:
    print ("odd")

Enter the number = 6
Even

# write a program to find the largest number among 3 given numbers.(Take 3 numbers input from user)

In [61]:
n1= int(input("Enter the first number="))
n2 = int(input("Enter the second number="))
n3=int(input("Enter the third number="))

if (n1>=n2) and (n1>=n3) :
    largest = n1
elif (n2>=n1) and (n2>=n3):
    largestn= n2
else :
    largest = n3
print ("The largest numberis :",largest)

Enter the first number=2
Enter the second number=3
Enter the third number=4
The largest numberis : 4

# Write a program for Given an integer number 'N', print the factorial of N.

In [75]:
n = int(input("Enter a number:"))
factorial =1

if n < 0:
    print ("Factorial does not exist")
elif n ==0 :
    print ("The factorial of 0 is 1")
else:
    for i in range (1, n+1):
        factorial = factorial*i
    print("The factorial of ",n,"is",factorial)

Enter a number:7
The factorial of  7 is 5040

# Given an integer Number 'n', Write a program to check if n is prime numebr or Non Prime.

In [82]:
n= int(input("Enter a number"))

if n>1:
    for i in range (2,n):
        if (n%i)==0:
            print (n,"is not a prime number")
            print (i,"times", n//i,"is", n)
            break

else:
    print (n,"is a prime number")

Enter a number6
6 is not a prime number
2 times 3 is 6

In [83]:
( (4 - 0)**2 + (3 - 0)**2 )**0.5

5.0

In [85]:
i=0
while(i<=10):
    if(i%3==0):
        print(i*3)
    i+=1

0
9
18
27

In [86]:
for i in range(3, 12, 2):
    print(i-1, end=" ")

2 4 6 8 10

In [87]:
5 and 4 and 10

10