# Functions

In [1]:
#Function definition
def greetings(name):
    print('Good morning', name)

In [2]:
print(greetings)
print (type(greetings))

<function greetings at 0x7ff500757e50>
<class 'function'>

In [3]:
greetings("Montreal")

Good morning Montreal

In [49]:
def add (a, b):
    """
    this is a doc string.
    return sum of 2 numbers
    """
    return(a+b)

In [5]:
add (4,2)

6

In [7]:
c=add(4,2)
print(c)

6

In [23]:
def product (lst):
    """
    lst : it is a list
    return: product of all elements in alist
    """
    x=1
    for i in lst:
        x=x*i
    return(x)

In [24]:
res=product ([2,5,3,1,4])
print(res)

120

In [25]:
# Function can return multiple values in form of atuple
def calculator(a,b):
    return (a+b, a-b, a*b, a/b)

In [27]:
cal_res=calculator(6,4)
print(cal_res)

(10, 2, 24, 1.5)

# Function Arguments

#Default parameters

In [30]:
def intro(name, nationality="canadaian"):
    print("Hello", name)
    print("I'm", nationality)

In [32]:
intro('John')

Hello John
I'm canadaian

In [33]:
intro ('John', 'American')

Hello John
I'm American

#Arbitary Arguments

In [37]:
def random_func(*args):
    print(args)
    print(type(args))
    for i in args:
        print(i**2)

In [38]:
random_func(10,8,3,2,5,1)

(10, 8, 3, 2, 5, 1)
<class 'tuple'>
100
64
9
4
25
1

#Keyword arguments

In [47]:
def introduction(**kwargs):
    print(kwargs)
    print(type(kwargs))
    
    for k,v in kwargs.items():
        print(k, ":" ,v)

In [48]:
introduction(name ="Mohit", age= 24, hobby=["singing", "coding"],nationality="canadian")

{'name': 'Mohit', 'age': 24, 'hobby': ['singing', 'coding'], 'nationality': 'canadian'}
<class 'dict'>
name : Mohit
age : 24
hobby : ['singing', 'coding']
nationality : canadian

#Built-Ins Functions

In [52]:
abs(-1.5)

1.5

In [53]:
round(5.6789,2)

5.68

In [54]:
lst=[3,4,5,2,6,8]
sum(lst)

28

In [55]:
max(lst)

8

In [56]:
min(lst)

2

In [57]:
def add_one(x):
    return x+1

In [58]:
add_one(100)

101

In [60]:
print(lst)

[3, 4, 5, 2, 6, 8]

In [61]:
new_lst = []

for i in lst:
    new_lst.append(i+1)
print (new_lst)

[4, 5, 6, 3, 7, 9]

In [62]:
#Map

map_ele = map(add_one, lst)
print(map_ele)

<map object at 0x7ff500848340>

In [64]:
print(list(map_ele))

[4, 5, 6, 3, 7, 9]

In [68]:
print(lst)

[3, 4, 5, 2, 6, 8]

In [78]:
#Filter

def is_even(x):
    return x%2==0

filter_ele = filter(is_even, lst)

print (filter_ele)

<filter object at 0x7ff5008482e0>

In [79]:
list(filter_ele)

[4, 2, 6, 8]

In [98]:
# Given a number 'n'.You need to point the following pattern for n Lines:

def pyramid(n):
    
    for i in range(0,n):
        
        for j in range (0, i +1):
            
            print ("* " ,  end="")
            
        print("\r")

In [101]:
pyramid(6)

*
* *
* * *
* * * *
* * * * *
* * * * * *

In [120]:
# Given 2 numbers a,b. You need to find to return a list containing all the prime numbers between a and b.
#[Including a,b] 

def Prime_Number(n):
    
    for num in range(2,n):
        prime = True
    for i in range(2,num):
        if (num%i==0):
            prime = False
    if prime:
       print (num)

In [122]:
Prime_Number(5)

In [123]:
lst = ['apple', 'orange', 'grapes', 'kiwi']
print( list( map(len, lst) ) )

[5, 6, 6, 4]

In [124]:
def temp_conversion(temp):
    print( (9*temp)/5 + 32 )

temp_conversion(40)

104.0

In [125]:
import functools
lst = [0,-2,1,4]
print(functools.reduce(lambda x,y:x+y,lst))

3

In [127]:
def func(lst):
    lst = lst + [5,6,7]
 
l = [1, 2, 3, 4]
func(l)
print(len(l))

4