# Python In-built Data Structures

Strings : the sequence of unicode characters

In [1]:
name = "Montreal"

In [4]:
print (name)
print(type(name))

Montreal
<class 'str'>

Indexing a String : accessing one character based on the position

In [5]:
print(name[0])
print(name[1])

M
o

In [6]:
# total number of characters in astring
print(len(name))

8

In [10]:
#accessing last element of string
print(name[len(name)-1])

l

Negative indexing

In [11]:
print(name[-1])

l

In [12]:
print(name[-3])

e

String Slicing : extracting multiple characters from a string

In [13]:
print(name[3:8])

treal

In [14]:
print(name [:])

Montreal

In [16]:
print (name[:-4])

Mont

Operationas on strings

In [18]:
#concatenation of 2 strings
"Montreal " + "City"

'Montreal City'

In [24]:
'Montreal City,' *4

'Montreal City,Montreal City,Montreal City,Montreal City,'

# Creating  a palindrome string
Need to check if that string is palindrime string or not, and print True or False

In [30]:
name = input("Enter the name ")

if(name==name[::-1]):
    print("True")
else:
    print("False")

Enter the name apple
False

# Count Vowels
In a given string find the count of all the lower case vowels

In [60]:
word =input("Enter the name ")
Vowels=0

for i in word:
    if (i=='a'or i=='e'or i=='i'or i=='o'or i=='u' or i=='A'or i=='E'or i=='I'or i=='O'or i=='U'):
        Vowels= Vowels+1
        
    print ("Number of Vowels in the word=", Vowels)

Enter the name pyhton
Number of Vowels in the word= 0
Number of Vowels in the word= 0
Number of Vowels in the word= 0
Number of Vowels in the word= 0
Number of Vowels in the word= 1
Number of Vowels in the word= 1

# Lists

In [2]:
x=[2,4,6,7]
print(x)

[2, 4, 6, 7]

In [3]:
type(x)

list

#Indexing/Slicing of Lists works same as strings

In [13]:
print(x[0])
print(x[-2])
print(x[0:-2])

2
6
[2, 4]

In [14]:
#mutable property
x[1] = 8
print (x)

[2, 8, 6, 7]

In [27]:
# add element at the end of the list
x.append(9)
print(x)

[2, 8, 6, 5, 5, 7, 9]

In [28]:
#insert elememt
x.insert(3,5)
print (x)

[2, 8, 6, 5, 5, 5, 7, 9]

In [29]:
#delete the last element
x.pop()
print(x)

[2, 8, 6, 5, 5, 5, 7]

In [31]:
# reverse the list
x.reverse()
print(x)

[7, 5, 5, 5, 6, 8, 2]

In [33]:
#sorting in ascending order
x.sort()
print(x)

[2, 5, 5, 5, 6, 7, 8]

In [34]:
#sorting in descending order
x.sort(reverse=True)
print(x)

[8, 7, 6, 5, 5, 5, 2]

In [36]:
#in operator
2 in x

True

In [41]:
#Iterating over elements of list and taking their squares
for ele in x:
    print(ele**2)

64
49
36
25
25
25
4

# List Comprehension

In [42]:
print(x)

[8, 7, 6, 5, 5, 5, 2]

In [44]:
#list comprehension
new_list = [ele**2 for ele in x]
print (new_list)

[64, 49, 36, 25, 25, 25, 4]

In [45]:
#Heterogenoius list
N_list = [3,False, 5.6,[2,3,4],"city", 8]
print(N_list)

[3, False, 5.6, [2, 3, 4], 'city', 8]

In [46]:
len(N_list)

6

In [47]:
list_2d=[[2,3,4],[3,4,5],[5,6,7]]
print(list_2d)

[[2, 3, 4], [3, 4, 5], [5, 6, 7]]

In [48]:
print(list_2d[2])

[5, 6, 7]

In [49]:
print(list_2d[2][-1])

7

In [52]:
# Given a list of N numbers,Find second largest element if there exist any
def second_largest(list):
    list.sort()
    return list [-2]

x=[]
n= int(input("Enter size of list"))
for i in range (0,n):
    a =int(input("Enter element of list "))
    x.append(a)
    
print("second largest in ",x,"is")
print(second_largest(x) )

Enter size of list4
Enter element of list 8
Enter element of list 9
Enter element of list 4
Enter element of list 3
second largest in  [8, 9, 4, 3] is
8

In [68]:
#Given a list of n elements,You need to remove all the duplicate element from the list, and print only unique elements in the same order of their occurrence.

def unique_elements(list):
    list.sort()
    return list [-2]

x=[]
n= int(input("Enter size of list "))
for i in range (0,n):
    a =int(input("Enter element of list "))
    if i not in x:
        x.append(i)
    
print("Unique_elements ",x,"is")
print(unique_elements(x) )

Enter size of list 4
Enter element of list 1
Enter element of list 2
Enter element of list 1
Enter element of list 3
Unique_elements  [0, 1, 2, 3] is
2

# Tuples

In [72]:
tup = (6,8,3,"Hall")
print(tup)
type (tup)

(6, 8, 3, 'Hall')

tuple

In [74]:
print(tup[2])
print(tup[:-1])

3
(6, 8, 3)

In [75]:
#Immutable
tup[1]=2

TypeError: 'tuple' object does not support item assignment

In [76]:
for ele in tup:
    print(ele)

6
8
3
Hall

# set

In [78]:
a_set={4,5,6,7,8,9,5,6,7,8}
print(a_set)
type(a_set)

{4, 5, 6, 7, 8, 9}

set

In [79]:
# No amtter how many times you add same element, it will be avilable only once.
a_set.add(26)
print(a_set)

{4, 5, 6, 7, 8, 9, 26}

In [80]:
a_set.add(26)
print(a_set)

{4, 5, 6, 7, 8, 9, 26}

In [81]:
#remove elements from set
a_set.remove(9)
print(a_set)

{4, 5, 6, 7, 8, 26}

# Rmove Duplicate Numbetrs from a list

In [82]:
x_list=[1,1,2,2,3,4,4,5,6]
print(x_list)

[1, 1, 2, 2, 3, 4, 4, 5, 6]

In [85]:
new_list = set(x_list)

In [86]:
x_list=list(new_list)

In [87]:
x_list

[1, 2, 3, 4, 5, 6]

# Dictionary

In [92]:
user_info = {
    "name": "Mohit",
     "age": 26,
    "nationality": "Indian",
}
print(user_info)

{'name': 'Mohit', 'age': 26, 'nationality': 'Indian'}

In [93]:
type (user_info)

dict

In [94]:
#accessing elements in dictionary 
print (user_info["name"])
print(user_info["nationality"])

Mohit
Indian

In [95]:
#Unkonown Key gives error
print(user_info["hobby"])

KeyError: 'hobby'

In [96]:
#no error
user_info.get("hobbu")

In [99]:
#add data in dictionary
user_info['hobby'] = ['Singing', 'Reading', 'Coding']
print (user_info)

{'name': 'Mohit', 'age': 26, 'nationality': 'Indian', 'hobby': ['Singing', 'Reading', 'Coding']}

In [100]:
#display all keys
user_info.keys()

dict_keys(['name', 'age', 'nationality', 'hobby'])

In [102]:
#display all values
user_info.values()

dict_values(['Mohit', 26, 'Indian', ['Singing', 'Reading', 'Coding']])

In [104]:
#display key, values pair in tuples
user_info.items()

dict_items([('name', 'Mohit'), ('age', 26), ('nationality', 'Indian'), ('hobby', ['Singing', 'Reading', 'Coding'])])

In [106]:
for k,v in user_info.items():
    print (k, ":" , v)

name : Mohit
age : 26
nationality : Indian
hobby : ['Singing', 'Reading', 'Coding']

In [108]:
#delete key, value
user_info.pop('nationality')

'Indian'

In [109]:
user_info

{'name': 'Mohit', 'age': 26, 'hobby': ['Singing', 'Reading', 'Coding']}

In [110]:
user_info['name'] = "John Doe"
print (user_info)

{'name': 'John Doe', 'age': 26, 'hobby': ['Singing', 'Reading', 'Coding']}

In [8]:
# Given a dictionary 'd' your task is to reverse the dicitionary.
#Keys should be converted to Values and, Values should be converted to keys


data = {
    "City" : "Montreal",
    "Provience" : "Quebec",
    "Country" : "Canada"
    
}
print(data)
data = {v: k for k, v in data.items()}
print(data)

{'City': 'Montreal', 'Provience': 'Quebec', 'Country': 'Canada'}
{'Montreal': 'City', 'Quebec': 'Provience', 'Canada': 'Country'}

In [11]:
# You're fiven with a list of N elements.Your task is to print the maximum occurrence element from the list.

a= [1,2,3,4,4,5,5,6,6,6,8,8,7]

max_occurrence = max(a, key = a.count)

print(max_occurrence)

6

In [13]:
lst1 = [2,3,4,5]
lst2 = [1,2,3,4,5]

result = lst1 + lst2

print(result)

[2, 3, 4, 5, 1, 2, 3, 4, 5]

In [14]:
a = [1,5,3,2,4,3,2]
b = [5,3,4,2,1]

set(a) == set(b)

True

In [15]:
d = { 1 : 'A', 2 : 'B', 3 : 'C'}
for k in range(1,5):
    print(d.get(k,'D') , end=" ")

A B C D